html, body {
  display: flex;
  overflow: auto;
  margin: 100px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #FFF0F5;
}

body {
  font-family: "Courier New", Courier, monospace;
}

h2 {
  color: #BA68C8;
}

h3 {
  color: #92B0C9;
}

img {
  margin-right: 10px;
}
