html {
  display: flex;
  overflow: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  margin-right: 20px;
  height: auto;
  align-items: center;
  justify-content: center;
}

body {
  display: flex;
  overflow: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #FFF0F5;
}

body {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  color: #454545;
}

h2 {
  color: #BA68C8;
}

h3 {
  color: #454545;
}

img {
  margin-right: 10px;
}
